body {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: zed;
  height: 100vh;
  width: 100vw;
  user-select: none;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5em 0 0.5em;
  text-align: center;
  font-size: 20pt;
}

.header a {
  all: unset;
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1em;
  margin-top: 0.1em;
  overflow: hidden;
  width: 95vw;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25em 1.5em 0.25em 1.5em;
  border-top: 2px solid black;
}

.footer div{
  margin: 0
}

.puzzle-list {
  border-bottom: 1px solid black;
  width: auto;
  min-width: 20em;
  max-width: 30em;
  border-collapse: collapse;
  user-select: none;
}

.puzzle-list thead {
  border-bottom: 1px solid black;
}

.puzzle-list tbody tr:hover {
  color: gray;
}

.main-page-buttons {
  display: flex;
  flex-direction: column;
  width: 15em;
  gap:1em;
  align-items: center;
  justify-content: space-around;
}

.main-page-buttons a {
  text-decoration: none;
  color: black;
  width: 100%;
  border: 0.1em solid black;
  padding: 0.2em;
  border-radius: 1em;
  text-align: center;
  font-size: 1.5em;
  background-color: transparent;
}
.main-page-buttons a:hover {
  transition: 0.1s ease;
  font-weight: bold;
  box-shadow: 0 0 10px black;
}

.puzzleBox {
  width: 20em;
  height: 20em;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
}

.connectBox {
  border: 0.2em solid black;
  transform: scale(1.135);
  border-radius: 1em;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top .node {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.1em;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bottom .node {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.left .node {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.75em;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right .node {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}

.circle {
  width: 1em;
  height: 1em;
  border: 0.2em solid black;
  border-radius: 100%;
  align-self: center;
  z-index: 1;
}

.letter {
  text-align: center;
  align-self: center;
  justify-content: center;
  font-family: zed;
  font-size: 2em;
  user-select: none;
}

.words {
  font-family: zed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active-word {
  all: unset;
  font-size: 2em;
  border-bottom: 3px solid black;
  text-align: center;
}

.past-words {
  font-size: 1.2em;
  height: 1em;
}

.lower-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  align-items: center;
  width: 80%;
}

.lower-buttons .upper-half {
  font-size: 1.4em;
  display:flex;
  flex-direction: row;
  gap: 0.3em;
}

.lower-buttons .lower-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.lower-buttons .upper-half .delete-button {
  width: 5em;
  text-align: center;
  border-radius: 100em 0 0 100em;
}

.lower-buttons .upper-half .enter-button {
  width: 5em;
  text-align: center;
  border-radius: 0 100em 100em 0;
}

.lower-buttons .lower-half .share-button {
  font-size: 1em;
  display: flex;
  border-radius: 0 0 1em 1em;
  text-align: center;
  padding: 0.2em 1em 0.2em 1em
}

.help-button {
  cursor: pointer;
  all:unset;
  display: flex;
  border-radius: 100em 100em 100em 100em;
  text-align: center;
  padding: 0.2em 1em 0.2em 1em;
}

.lower-buttons button {
  all:unset;
  cursor: pointer;
}

.in-development {
  margin-top: 10em;
  border: 2px solid black;
  border-radius: 1em;
  padding: 1em;
}

.in-development h3 {
  margin: 0;
}

#popup {
  width: 60vw;
  height: auto;
  position: absolute;
  top: 20%;
  left: 20vw;
  text-align: center;
  border-radius: 1em;
  z-index: 100;
  font-size: 1.5em
}

#popup button {
  all:unset;
  border: 1px solid black;
  padding: 0.4em;
  border-radius: 1em;
  cursor:pointer;
  margin-bottom: 1.5em;
}

#popup.enabled {
  visibility: visible;
  animation: fade-in 0.4s;
}

#popup.disabled {
  visibility: hidden;
}

#help-popup {
  width: 100vw;
  position: absolute;
  max-height: 85vh;
  left: 0;
  bottom:0;
  border-radius: 1em 1em 0 0;
  z-index: 100;
  font-size: 1em;
}

#help-popup button {
  all:unset;
  border: 1px solid black;
  padding: 0.4em;
  border-radius: 1em;
  cursor:pointer;
  margin-bottom: 1.5em;
}

#help-popup.enabled {
  visibility: visible;
  animation: swipe-up 0.3s;
}

#help-popup.disabled {
  visibility: hidden;
}

.shake {
  animation: horizontal-shaking 0.15s ease;
}

.press-in {
  animation: bubble-in 0.25s ease;
}

.pull-out {
  animation: bubble-out 0.25s ease;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

@keyframes bubble-in {
  0% { transform: scale(1) }
  50% { transform: scale(0.95) }
  100% { transform: scale(1) }
}

@keyframes bubble-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.05) }
  100% { transform: scale(1) }
}

@keyframes fade-in {
  0% { 
    opacity: 0; 
    transform: translateY(-2em)
  }
  100% { 
    opacity: 1; 
    transform: translateY(0)
  }
}

@keyframes swipe-up {
  0% {
    transform: translateY(1500px)
  }
  100% {
    transform: translateY(1px)
  }
}